.center-nav {
    margin: 0 auto;
    width: 320px;
}
.navbar-nav .nav-item{
}
.navbar-nav a {
    color: grey;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav a:hover {
    color: rgb(197, 197, 197);
    text-decoration: none;
}

.navbar-nav a.active {
    color: white;
}